body {
	overflow: hidden;

	&.scrolling {
		overflow: auto;
	}
}

.content {
	z-index: 100;
	position: relative;
	margin-top: 100%;
	.scrolling & {
		margin-top: 80px;
		transition: all 1s;
	}

	section {
		opacity: 0;
		.scrolling & {
			opacity: 1;
			transition: opacity 3s;
		}
	}
}



#intro {
	z-index: 200;
	width: 100%;
	opacity: 1;
	//position: relative;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;

	body.start & {
		//position: relative;
	}

	body.scrolling & {
		position: fixed;
		height: 80px;
		min-height: 80px;
		bottom: auto;
		transition: all 1s;
	}

	.curtain {
		position: absolute;
		top: 0;
		bottom: 0;
		&.frame {
			left: 0;
			right: 0;
			z-index: 200;
			background: transparent url(../images/curtains.png) repeat center center;
			background-size: 100% auto;
			height: auto;
			z-index: 300;
			
			@include filter( drop-shadow(0 10px 10px black) );

			.start & {
				top: -100%;
				left: -100%;
				right: -100%;
				bottom: auto;
				height: 0;
				transition: all 2s ease-in 3s, height 1s 4s;
			}
		}
		&.draw {
			width: 50%;
			background: transparent url(../images/curtains2.jpg) repeat center top;
			background-size: 130% auto;
			z-index: 150;
			transition:
				left 1s ease-in,
				right 1s ease-in,
				opacity 1s 3s;
			opacity: 0.3;
			body:hover & {
				opacity: 1;
			}
			z-index: 275;
			
			.start & {
				//opacity: 0;
				//transition: opacity 1s 3s;
			}
		}
		&.left {
			left: 0;

			.start & {
				left: -50%;
			}
		}
		&.right {
			right: 0;
			.start & {
				right: -50%;
			}
		}
	}

	.spotlight {
	    position: absolute;
	    z-index: 300;
	    background: rgba(255,255,255,1);
		width: 250px;
	    height: 250px;
	    border-radius: 125px;
	    box-shadow: 0px 0px 50px rgba(255,255,180,1);
	    border: solid 50px rgba(255,255,200,0.6);
	    opacity: 0.5;
	    box-sizing: border-box;

	    cursor: pointer !important;

	    top: -300px;
		left: -300px;

		.start & {
			transition: all 1s ease-in, opacity 1s ease-in 0.5s;
			//left: 720px !important;
    		//top: 250px !important;
    		left: 824px / 1240px * 100% !important;
    		bottom: (700px-146px-296px)/700px * 100% !important;
    		opacity: 0;
		}

		.scrolling & {
			transition: display 0s;
			display: none !important;
		}
	}

	h1, h2, p {
		color: white;
		text-shadow: 4px 4px 1px rgba(90,135,170,1);
		position: absolute;
	}

	p.introducing {
		top: 30px;
	    font-family: 'Kaushan Script';
	    font-size: 80px;
	    width: 100%;
	    text-align: center;
	    line-height: 80px;
	    opacity: 1;
	    z-index: 400;
	    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);

	    .start & {
	    	top: -100px;
	    	opacity: 0;
	    	transition: all 1s 3s;
	    }
	}

	.iris {
		width: 300%;
		height: (1240px/700px)*300%;
		border: solid 3000px black;
		//border: solid 1400px black;
	    border-radius: 100%;
	    //width: 300%;//2800px;
	    //height: 300%;//2800px;
	    z-index: 100;
	    position: absolute;
	    //left: -50%;//-100%;//-600px;
	    //top: -150%;//-1100px;
	    //background-color: trans;
	    box-sizing: border-box;
	    //display: none;
	    opacity: 0.5;

	    z-index: 250;

	    .start & {
	    	border-width: 0px;
			left: -80%;//-900px;
	    	transition: left 5s ease-out 1s, width 3s, height 3s, border-width 3s 4s, top 0s 5.5s;
	    	top: -9999px;
	    	width: 350%;//3000px;
	    	height: 350%;//3000px;
		}
	}

	.berlin-skyline {
		//width: 1240px;
		width: 100%;
		height: auto;
		bottom: 0;
		//height: 100%;
		//margin: 0 auto;
		//background: blue url(../images/berlin.jpg) no-repeat center bottom;
		position: absolute;
		//background-size: 100% auto;

		.scrolling & {
			//background-position-y: -340px;
			height: 80px;
			transition: all 1s;
		}
	}

	.background {
		width: 100%;
		height: auto;
		z-index: 50;
		//position: absolute;
		//bottom: 0;
		//left: 0;
		//right: 0;
		.scrolling & {
			bottom: 0;
			overflow: hidden;
			opacity: 0.4;
			margin-top: -50%;
			//position: absolute;
			transition: all 1s;
		}
	}
	
	h1.full-name {
		font-family: 'Bangers';
		top: 50%;//280px;
		//font-size: 80px;
		font-size: 7vw;
		left: -100%;
		margin: 0;

		z-index: 200;

		.start & {
			left: 5%;
			transition: left 1s 5s;
		}
		.scrolling & {
			top: 0;
			//bottom: auto;
			transition: top 1s;
		}
	}
	h2.job-title {
		font-family: 'Chau Philomene One';
		margin: 0;
		//bottom: 20%;
		//top: 400px;
		//left: 650px;
		//font-size: 50px;
		top: 70%;
		font-size: 5vw;
		right: -100%;

		z-index: 200;
		.start & {
			right: 10%;
			transition: right 1s 6s;
		}
		.scrolling & {
			top: 0;
			transition: top 1s;
		}
	}
	.lightbulb {
	    background: transparent url(../images/lightbulb-off.png) no-repeat center center;
	    width: 15%;//160px;
	    height: 22%;//160px;
	    background-size: auto 100%;
	    bottom: 35%;
	    position: absolute;
	    right: 30%;
	    opacity: 0;

	    z-index: 200;

	    @include filter ( drop-shadow(4px 4px 0px rgba(90, 135, 170, 1) ) );
	    
	    .start & {
			background-image:  url(../images/lightbulb.png);
			opacity: 1;
			transition: opacity 1s 6s, background 0.5s 7.5s;
		}

		.scrolling & {
			top: 0;
			right: 100px;
			height: 80px;
			background-size: auto 80px;
			transition: all 1s;
		}
	}

	.overlay {
		background-color: black;
		opacity: 0;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		z-index: 50;

		.start & {
			opacity: 0.4;
			transition: opacity 3s 4s;
		}
	}

	.wall {
		width: 110px / 1240px * 100%;
		height: auto;//146px;
		left: 824px / 1240px * 100%;
		//top: (296px / 700px) * 100%;
		bottom: (700px-146px-296px)/700px * 100%;

		z-index: 100;

		position: absolute;
		cursor: pointer;

		.start & {
			bottom: 5.4%;//(600px - 419px) / 700px * 100%;
			//top: 34.7%;//(243px-0px);
			left: 29.9%;//371px;
			width: 25.5%;//316px / 1240px * 100%;//316px;
			height: auto;//419px / 700px * 100%;
			transition:
				bottom 5s ease-out 1.5s,
				left 5s ease-out 1.5s,
				width 5s ease-out 1.5s,
				height 5s ease-out 1.5s,
				filter 1s 0s;//width 1s, height 1s, top 1s, left 1s;
			&:hover {
				@include filter(drop-shadow(40px 40px 0 rgba(255,0,0,0.5)) drop-shadow(-40px -40px 0 rgba(0,255,0,0.5)) drop-shadow(-40px 40px 0 rgba(0,0,255,0.5))  drop-shadow(40px -40px 0 rgba(255,255,0,0.5)) );
			}
		}

		.scrolling & {
			top: -97px;
			margin-top: 80px;
			left: 500px;
			transition: top 1s, width 1s ease-in, height 1s ease-in, left 1s ease-in, margin-top 1s ease-in;
			width: 110px;
			height: 146px;
			&:hover {
				$size: 10px;
				@include filter(drop-shadow($size $size 0 rgba(255,0,0,0.5)) drop-shadow(-$size -$size 0 rgba(0,255,0,0.5)) drop-shadow(-$size $size 0 rgba(0,0,255,0.5))  drop-shadow($size -$size 0 rgba(255,255,0,0.5)) );
			}
		}	
	}
}


/*.berlin2 {
	opacity: 0.9;
}

body.hover {

	h1, h2 {
		opacity: 1;
	}
	h1 {
		transition: opacity 2s;
	}
	h2 {
		transition: opacity 4s;
	}
	.berlin p {
		opacity: 0;
		transition: opacity 6s;
	}
	.curtains {
		opacity: 0;
		height: 0;
		transition: all 4s;
	}
	.curtains2, .curtains3 {
		width: 25%;
		transition: all 2s;
	}
	.iris {

	}
	.spotlight {

	}
}

body.scrolled {
	//padding-top: 600px;
	#intro {
		position: fixed;
		height: 80px;
		top: 0px;
		transition: height 1s;
		h1 {
			color: #33668F;
			transition: color 3s;
		}
		h1, h2, .lightbulb {
			top: 0px;
		}
		.lightbulb {
			top: -5px;
		}
		p {
			display: none;
		}
		.wall {
			top: -97px;
			margin-top: 80px;
			left: 500px;
			transition: top 0s, width 1s ease-in, height 1s ease-in, left 1s ease-in, margin-top 1s ease-in;
			width: 110px;
			height: 146px;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		.overlay {
			opacity: 0.6;
			transition: opacity 3s;
		}
		z-index: 200;

		.berlin {
			background-position-y: -340px;
			height: 80px;
		}
		.berlin2 {
			z-index: 1;
			background-position-y: -340px !important;
			height: 600px;
			width: 100%;
			margin: 0 auto;
			background: transparent url(../images/berlin.jpg) no-repeat center top;
			position: relative;
			opacity: 0.4;
			transition: opacity 3s;
			background-attachment: fixed;
		}
	}
}*/