/* line 3, ../sass/style.scss */
body {
  background-color: white;
  height: 2000px;
}

/* line 8, ../sass/style.scss */
.berlin-wrap {
  width: 100%;
  background: blue url(../images/berlin.jpg) repeat center top;
  background-color: transparent;
}
/* line 13, ../sass/style.scss */
.berlin-wrap h1, .berlin-wrap h2 {
  color: white;
  text-shadow: 4px 4px 1px rgba(90, 135, 170, 0.5);
  opacity: 0;
  position: absolute;
  left: 50px;
}
/* line 20, ../sass/style.scss */
.berlin-wrap h1 {
  font-family: 'Bangers';
  top: 350px;
  font-size: 80px;
}
/* line 25, ../sass/style.scss */
.berlin-wrap h2 {
  font-family: 'Chau Philomene One';
  top: 350px;
  left: 650px;
  font-size: 50px;
}
/* line 31, ../sass/style.scss */
.berlin-wrap .overlay {
  background-color: white;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}
/* line 38, ../sass/style.scss */
.berlin-wrap .wall {
  width: 110px;
  height: 146px;
  left: 824px;
  top: 296px;
  position: absolute;
  transition: width 1s, height 1s, top 1s, left 1s;
  cursor: pointer;
}

/* line 49, ../sass/style.scss */
.berlin {
  width: 1240px;
  height: 600px;
  margin: 0 auto;
  background: blue url(../images/berlin.jpg) no-repeat center top;
  position: relative;
}

/* line 56, ../sass/style.scss */
.berlin2 {
  opacity: 0.9;
}

/* line 61, ../sass/style.scss */
body.hover .wall {
  top: 243px;
  left: 371px;
  width: 316px;
  height: 419px;
}
/* line 67, ../sass/style.scss */
body.hover h1, body.hover h2 {
  opacity: 1;
}
/* line 70, ../sass/style.scss */
body.hover h1 {
  transition: opacity 2s;
}
/* line 73, ../sass/style.scss */
body.hover h2 {
  transition: opacity 4s;
}

/* line 80, ../sass/style.scss */
body.scrolled .berlin-wrap {
  position: fixed;
  height: 80px;
  top: 0px;
  transition: height 1s;
  z-index: 200;
}
/* line 85, ../sass/style.scss */
body.scrolled .berlin-wrap h1 {
  top: 10px;
  color: #33668F;
  transition: color 3s;
}
/* line 90, ../sass/style.scss */
body.scrolled .berlin-wrap h2 {
  top: 10px;
}
/* line 93, ../sass/style.scss */
body.scrolled .berlin-wrap .wall {
  top: -97px;
  margin-top: 80px;
  left: 500px;
  transition: top 0s, width 1s ease-in, height 1s ease-in, left 1s ease-in, margin-top 1s ease-in;
  width: 110px;
  height: 146px;
}
/* line 100, ../sass/style.scss */
body.scrolled .berlin-wrap .wall:hover {
  opacity: 0.8;
}
/* line 104, ../sass/style.scss */
body.scrolled .berlin-wrap .overlay {
  opacity: 0.6;
  transition: opacity 3s;
}
/* line 110, ../sass/style.scss */
body.scrolled .berlin {
  background-position-y: -340px;
  height: 80px;
}
/* line 114, ../sass/style.scss */
body.scrolled .berlin2 {
  z-index: 1;
  background-position-y: -340px;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  background: blue url(../images/berlin.jpg) repeat center top;
  position: relative;
  opacity: 0.4;
  transition: opacity 3s;
}

/* line 127, ../sass/style.scss */
section {
  min-height: 600px;
}
/* line 130, ../sass/style.scss */
section h2, section h3 {
  text-align: center;
  font-family: 'Chau Philomene One';
  text-transform: uppercase;
  font-size: 80px;
  padding-top: 50px;
  color: #5a87aa;
}
/* line 138, ../sass/style.scss */
section h3 {
  font-size: 50px;
  padding-top: 10px;
}
/* line 143, ../sass/style.scss */
section.i-use {
  background: #2D2B41 url(../images/what-i-use.jpg) no-repeat;
  background-size: auto 100%;
  height: 600px;
  perspective: 420px;
  /*div.images {
  	transform: rotateY(60deg);
  }*/
  overflow: hidden;
  /*\div.image-wrap1 {
  	overflow: hidden;
  	width: 720px;
  	position: relative;
  	float: left;
  }*/
}
/* line 148, ../sass/style.scss */
section.i-use h2 {
  color: white;
  float: right;
  margin-right: 200px;
  position: absolute;
}
/* line 167, ../sass/style.scss */
section.i-use div.images {
  transform: rotateY(80deg);
  overflow: hidden;
  *zoom: 1;
  z-index: 10;
  width: auto;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  white-space: nowrap;
}
/* line 180, ../sass/style.scss */
section.i-use div.images img {
  height: 180px;
  opacity: 0.9;
  margin: 20px 5px;
  box-sizing: border-box;
  background-color: white;
}
/* line 185, ../sass/style.scss */
section.i-use div.images img.white {
  padding: 10px;
}
/* line 191, ../sass/style.scss */
section.i-use div.image-wrap {
  float: left;
  margin-left: 720px;
  height: 600px;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 100%;
}
/* line 200, ../sass/style.scss */
section.i-use div.images2 {
  transform: none;
  z-index: 20;
  margin-left: -720px;
  right: -720px;
}
/* line 206, ../sass/style.scss */
section.i-use div.images2 img {
  opacity: 1;
}
/* line 210, ../sass/style.scss */
section.i-use .leaning {
  height: 600px;
  position: absolute;
  left: 338px;
  top: 0;
  z-index: 100;
  transform: rotateY(0);
}

/* line 222, ../sass/style.scss */
section.i-do ul.summary {
  height: 400px;
  padding-top: 50px;
  background-color: white;
  list-style: none;
  max-width: 1240px;
  margin: 0 auto;
}
/* line 229, ../sass/style.scss */
section.i-do ul.summary li {
  float: left;
  width: 25%;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
}
/* line 236, ../sass/style.scss */
section.i-do ul.summary li h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  color: #5a87aa;
}
/* line 241, ../sass/style.scss */
section.i-do ul.summary li img, section.i-do ul.summary li object {
  max-width: 60%;
}
/* line 243, ../sass/style.scss */
section.i-do ul.summary li img svg, section.i-do ul.summary li object svg {
  fill: red !important;
}
/* line 248, ../sass/style.scss */
section.i-do ul.summary li p {
  font-family: 'Lato', sans-serif;
}
/* line 252, ../sass/style.scss */
section.i-do ul.summary li:hover h3 {
  color: red;
  transition: color 2s;
}

/* line 265, ../sass/style.scss */
#hollywood {
  max-width: 1240px;
  margin: 0 auto;
}
/* line 268, ../sass/style.scss */
#hollywood ul {
  list-style: none;
  padding-left: 0;
}
/* line 272, ../sass/style.scss */
#hollywood li {
  width: 25%;
  height: auto;
  margin-top: 60px;
}
/* line 278, ../sass/style.scss */
#hollywood li.double {
  width: 55%;
  height: auto;
}
/* line 282, ../sass/style.scss */
#hollywood .card {
  height: auto;
  cursor: pointer;
  opacity: 0.6;
}
/* line 286, ../sass/style.scss */
#hollywood .card .front, #hollywood .card .back {
  box-shadow: 0 0 5px black;
}
/* line 289, ../sass/style.scss */
#hollywood .card:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
/* line 292, ../sass/style.scss */
#hollywood .card:hover .front, #hollywood .card:hover .back {
  box-shadow: 0 0 10px black;
}
/* line 297, ../sass/style.scss */
#hollywood .card .front {
  height: auto !important;
}
/* line 300, ../sass/style.scss */
#hollywood img {
  width: 100%;
}
